.am-i-in-range-page {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.container {
    justify-items: center;
    align-items: center;
}

.input-bar {
    display: flex;
    justify-items: center;
    align-items: center;
    /* margin: 20px; */
    display: flex;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}

.radio-label {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.exam-score-input-label {
    white-space: nowrap;
    top: 75%;
    margin: 2%;
    position: relative;
    /* -ms-transform: translateY(-25%); */
    /* transform: translateY(-25%); */
}

.school_display_view {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.school_list_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 10px;
}

.school_item {
    /* display: flex;
    justify-content: center; */
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid lightgrey;
}

.school_item_name_container {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: x-large;
}

.student_score_indicator {
    position: absolute;
    top: 3px;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.score_illustration_in_range {
    position: relative;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    height: 20px;
    width: 100%;
}

.score_illustration_line {
    position: absolute;
    height: calc(50% + 1px);
    width: 100%;
    border-bottom: 2px solid blue;
    background-color: transparent;
}

.school_min_label {
    margin-right: auto;
}

.school_max_label {
    margin-left: auto;
}

.labels_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.score_illustration_below_range {
    display: flex;
    flex-direction: row;
}

.below_range_score_indicator {
    background-color: red;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.below_range_school_range {
    position: relative;
    border-left: 3px solid red;
    border-right: 3px solid red;
    margin-left: auto;
}

.below_range_score_illustration_line {
    border-bottom: 2px solid red;
    height: calc(50% + 1px);
    width: 100%;
    background-color: transparent;
}

.below_range_score_labels {
    display: flex;
    flex-direction: row;
    top: 100%;
    margin-left: auto;
}

.score_illustration_above_range {
    display: flex;
    flex-direction: row;
}

.above_range_score_indicator {
    background-color: green;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.above_range_school_range {
    position: relative;
    border-left: 3px solid green;
    border-right: 3px solid green;
    margin-right: auto;
}

.above_range_score_illustration_line {
    border-bottom: 2px solid green;
    height: calc(50% + 1px);
    width: 100%;
    background-color: transparent;
}

.above_range_score_labels {
    display: flex;
    flex-direction: row;
    top: 100%;
    margin-right: auto;
}

.filters_container {
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 50%;
    height: 60px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filters_search_label {
    margin: 4px;
}

.filters_in_range_checkbox {
    top: 50%;
    height: 70%;
    width: auto;
    white-space: nowrap;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
